* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
    background-color: black;
  }

  H2 {
    margin: 20px;
    font-style: italic;
    color: blanchedalmond;
  }

  #map {
    height: 100vh;
    width: 100vw;
  }

  .flex-container{
    display: flex;
    }

  .selections{
    display:flex;
    flex-direction: column;
    margin: 20px;
    
  }

  .itinerary{
    display:flex;
    flex-direction: column;
    margin: 20px;
  }

  #map {
    display: flex;
  }

  .leftflex{
    display: flex;
    padding: 20px;
    flex-direction: column;
  }